/* Custom spacing clases */

.m-n1 {
    margin: -($spacer * .25) !important;
}

.m-n2 {
    margin: -($spacer * .5) !important;
}

.m-n3 {
    margin: -($spacer) !important;
}

.m-n4 {
    margin: -($spacer * 1.5) !important;
}

.m-n5 {
    margin: -($spacer * 3) !important;
}

.mt-n1 {
    margin-top: -($spacer * .25) !important;
}

.mt-n2 {
    margin-top: -($spacer * .5) !important;
}

.mt-n3 {
    margin-top: -($spacer) !important;
}

.mt-n4 {
    margin-top: -($spacer * 1.5) !important;
}

.mt-n5 {
    margin-top: -($spacer * 3) !important;
}

.mt-n6 {
    margin-top: -($spacer * 3) !important;
}

.mt-n7 {
    margin-top: -($spacer * 4) !important;
}

.mt-n8 {
    margin-top: -($spacer * 5) !important;
}

.mt-n9 {
    margin-top: -($spacer * 6) !important;
}

.mt-n10 {
    margin-top: -($spacer * 7) !important;
}

.mb-n1 {
    margin-bottom: -($spacer * .25) !important;
}

.mb-n2 {
    margin-bottom: -($spacer * .5) !important;
}

.mb-n3 {
    margin-bottom: -($spacer) !important;
}

.mb-n4 {
    margin-bottom: -($spacer * 1.5) !important;
}

.mb-n5 {
    margin-bottom: -($spacer * 3) !important;
}
