@import "bootstrap.scss";
@import "_custom-variables.scss";

.kanji-font{
    font-family: 'Shirokuma Regular';
}

/* Header video back ground */

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
   header video {
    display: none;
  }
}

/* CUSTOM NAVBAR */
.main-nav {
    font-size: 1.25rem;
}
.main-nav .nav-link{
    padding: 1.25rem;
    margin: 0 1rem;
    border-bottom: 3px solid transparent;
    &:hover{
        border-color: #fff;
    }
}


/* CUSTOM HELPERS */

.bg-black {
    background: #000;
}

.hovereffect {
overflow:hidden;
}


.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.title-kanji{
    font-family: 'Shirokuma Regular';
    font-size: 4.5rem;
    font-weight: 600;
    line-height: 1.15;
}

/* ======================================================*/
/* GRID LAYOUT */
/* ======================================================*/
.grid-container {
  max-width: 1280px;
  margin: 0 auto;
}

.cols {
  margin: 0 auto;
  max-width: 1000px;
}

.column {
  width: 25%;
  height: 250px;
  float: left;
  margin: 0;
}

.column img {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.8;
}

.column h2 {
  font-weight: 900;
  color: #000;
}

.grid-1 {
  width: 50%;
}

.grid-3 {
  float: right;
  height: 500px;
}

.grid-5 {
  display: table;
}

.grid-5 > * {
  display: table-cell;
  height: 100%;
}

.grid-5 > .text-container {
  text-align: center;
  vertical-align: middle;
  width: 50%;
}

.grid-5 img {
  object-position: right;
}

.grid-7 {
  width: 50%;
}

@supports (display: grid) or (display: -ms-grid) {
  .grid-area {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    justify-content: center;
  }
  .column {
    width: 100%;
    height: 100%;
    float: none;
  }
  .grid-1 {
    grid-column-end: span 2;
  }
  .grid-3 {
    grid-row-end: span 2;
  }
  .grid-5 {
    grid-column-end: span 2;
  }
  .grid-7 {
    grid-column-end: span 2;
  }
}

/* Media queries for other screen widths */
@media screen and (max-width: 450px) {
  .column {
    grid-row-end: unset;
    grid-column-end: unset;
    height: 250px;
  }
  .grid-area {
    display: flex;
    flex-direction: column;
  }
  .grid-3 {
    order: -1;
    height: 500px;
  }
}

@media screen and (max-width: 768px) {
  .grid-2 {
    display: none;
  }
}

/************ Grid parts *************/

figure {
  position: relative;
  overflow: hidden;
}


figure figcaption::before,
figure figcaption::after {
  pointer-events: none;
}

figure figcaption,
figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


figure h2 {
  color: #000;
}
